* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}
.inputList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.input {
  & > * {
    width: 100%;
  }
}
.error{
    font-size: .75em;
    text-align: end;
}
.itemList{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.item{
    padding: .5em;
    border: 1px solid #000;
}